<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Blog Express Project
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Blog Express Project: </strong> In this project mainly used Express JS. How to apply express-handlebars, Built-in Helpers(handlebars). A Blog has <code>title</code>, <code>content</code> and <code>slug</code>. Blog page shows only all blogs title. If the title is clicked, the full description of the blog can be seen. 
            </div>
            </div>
        </div>
    </div>
</div>
